<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_grocery_store</i>
            </div>
            <h4 class="card-title">Stock Actual</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="frmPrincipal">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-label>Tipo de Producto</mat-label>
                    <mat-select formControlName="TipoProductoId" (selectionChange)="seleccionarTipoProducto($event.value)">
                      <mat-option *ngFor="let objTipoProducto of lstTipoProducto" [value]="objTipoProducto.TipoProductoId">
                        {{objTipoProducto.TipoProductoDescripcion}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="float-end" *ngIf="TipoProductoId?.invalid">
                      *Obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div class="row mt-4 mb-4" *ngIf="lstProductos.length>0">
              <div class="co-md-6">
                <span class="etiquetas">
                  {{lstProductos.length}} Productos Encontrados
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" *ngIf="lstProductos.length>0">
                  <button mat-mini-fab color="accent" aria-label="Descargar" (click)="descargarReporte()">
                    <mat-icon>download_for_offline</mat-icon>
                  </button>
              </div>
              <div class="col-md-12">
                <div class="material-datatables">
                  <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th class="encabezado-tabla index">#</th>
                        <th class="encabezado-tabla tipoProducto">TIPO DE PRODUCTO</th>
                        <th class="encabezado-tabla codigo">CODIGO</th>
                        <th class="encabezado-tabla marca" *ngIf="TipoProductoId?.value=='1'">MARCA</th>
                        <th class="encabezado-tabla marca">
                          <ng-container *ngIf="TipoProductoId?.value=='1'">
                            IMEI
                          </ng-container>
                          <ng-container *ngIf="TipoProductoId?.value=='2'">
                            ICID
                          </ng-container>
                          <ng-container *ngIf="TipoProductoId?.value=='3'">
                            SERIE
                          </ng-container>
                        </th>
                        <th class="encabezado-tabla nombre">NOMBRE DE PRODUCTO</th>
                        <th class="encabezado-tabla descripcion">DESCRIPCION</th>
                        <th class="encabezado-tabla color">COLOR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let objProducto of lstProductos; let indice = index">
                        <tr>
                          <td>{{indice+1}}</td>
                          <td>{{objProducto.TipoProductoTexto}}</td>
                          <td>{{objProducto.ProductoId }}</td>
                          <td *ngIf="TipoProductoId?.value=='1'">{{objProducto.MarcaTexto}}</td>
                          <td>{{objProducto.ProductoCodigo}}</td>
                          <td>{{objProducto.ProductoNombre }}</td>
                          <td>{{objProducto.ProductoDescripcion }}</td>
                          <td>{{objProducto.ColorTexto}}</td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="lstProductos.length==0">
                        <tr>
                          <td colspan="7" class="text-danger text-center">
                            NO HAY PRODUCTOS EN STOCK
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="7">
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
