<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="image-gallery">
              <div><h1>Aria Amazon</h1></div>
              <div class="image-card">
                <img src="../../../../assets/img/New-8-2015-Aria-Amazon-Exterior.jpg" alt="Barco 1">
              </div>
              <div><h1>Aqua Nera</h1></div>
              <div class="image-card">
                <img src="../../../../assets/img/Aqua-Nera-Exterior.jpg" alt="Barco 2">
              </div>
            </div>

          <br />
          </div>
          <div class="row casi-logo">
            <div class="col-md-12" style="background-color:#000000">
              <div class="logo">
                <img src="../../../../assets/img/aqua-logo-big.svg" alt="Logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
