<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">format_list_bulleted</i>
            </div>
            <h3 class="card-title">Gestión de Colores</h3>
          </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <mat-form-field appearance="fill" class="control-full-width">
                    <mat-label>Buscar Por Descripciòn de Color</mat-label>
                    <input matInput id="txtBuscar" [(ngModel)]="txtBuscar" (keyup)="buscarColor($event)">
                    <mat-icon matPrefix>search</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12">
                  <button mat-fab color="warn" (click)="abrirModalDatosColor(0)" class="derecha">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                        <tr>
                          <th class="encabezado-tabla index">#</th>
                          <th class="encabezado-tabla descripcion">DESCRIPCIÓN</th>
                          <th class="encabezado-tabla estado">ESTADO</th>
                          <th class="encabezado-tabla acciones"></th>
                        </tr>
                      </thead>
                      <tbody *ngIf="lstColor.length>0">
                        <ng-container *ngFor="let objColor of lstColor; let i = index">
                          <tr>
                            <td>
                              {{i+1}}
                            <td>
                              {{objColor.ColorDescripcion }}
                            </td>
                            <td>
                              {{objColor.ColorEstadoTexto }}
                            </td>
                            <td class="acciones">
                              <button class="btn btn-link color-primary" title="Editar" matTooltip="Editar" (click)="abrirModalDatosColor(objColor.ColorId)">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button class="btn btn-link color-secondary" title="Eliminar" matTooltip="Eliminar" (click)="eliminarColor(objColor)" *ngIf="objColor.ColorEstado!='X'">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                      <tbody *ngIf="lstColor.length==0">
                        <tr>
                          <td colspan="4" class="text-center text-danger">
                            No Existen Elementos Registrados
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="4">
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <!--<button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>-->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
