<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_offer </i>
            </div>
            <h4 class="card-title">Gestión de Planes</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-10">
                <mat-form-field appearance="fill" class="control-full-width">
                  <mat-label>Buscar Por Descripción Planes</mat-label>
                  <input matInput id="txtBuscar" [(ngModel)]="txtBuscar" (keyup)="buscarPlanes($event)">
                  <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-11">

              </div>
              <div class="col-md-1">
                <button mat-fab color="warn" (click)="abrirModalDatosPlanes(0)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th class="encabezado-tabla index">#</th>
                      <th class="encabezado-tabla descripcion">DESCRIPCIÓN</th>
                      <th class="encabezado-tabla valor">VALOR</th>
                      <th class="encabezado-tabla estado">ESTADO</th>
                      <th class="encabezado-tabla acciones"></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="lstPlanes.length>0">
                    <tr *ngFor="let objPlanes of lstPlanes; let i = index">
                      <td>
                        {{i+1}}
                      </td>
                      <td>
                        {{objPlanes.PlanDescripcion }}
                      </td>
                      <td>
                        {{objPlanes.PlanValor }}
                      </td>
                      <td>
                        {{objPlanes.PlanEstadoTexto}}
                      </td>
                      <td class="celda-derecha">
                        <button class="btn btn-link color-primary" title="Editar" matTooltip="Editar" (click)="abrirModalDatosPlanes(objPlanes.PlanId)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button class="btn btn-link color-secondary" title="Eliminar" matTooltip="Eliminar" (click)="eliminarPlanes(objPlanes)" *ngIf="objPlanes.PlanEstado!='X'">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="lstPlanes.length==0">
                    <tr>
                      <td colspan="6" class="text-center text-danger">
                        No Existen Elementos Registrados
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="6">
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>

          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
