.encabezado-tabla {
  text-align: left;
  font-weight: bold;
}

.encabezado-tabla.index {
  width: 5%;
}

.encabezado-tabla.tipoProducto {
  width: 15%;
}

.encabezado-tabla.codigo {
  width: 10%;
}

.encabezado-tabla.nombre {
  width: 15%;
}

.encabezado-tabla.descripcion {
  width: 20%;
}

.encabezado-tabla.estado {
  width: 5%;
}

.encabezado-tabla.acciones {
  width: 20%;
}

